/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F0F2F5;
    color: #2D2747;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 15px;
}

/* Card Styling */
.card {
    width: 100%;
    max-width: 500px;
    border: 1px solid #DEE2E6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #FEBB0B;
    text-shadow: 1px 1px #DEE2E6;
}

/* Form Styling */
.form-group label {
    font-weight: bold;
    color: #2D2747;
}

.form-control {
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    padding: 10px;
}

.btn-primary {
    background-color: #02899C;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #026F79;
}

/* Link Styling */
.text-center a {
    color: #02899C;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
    .card {
        padding: 15px;
    }
}
